.fullScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000; /* Ensure it's above other elements */
    overflow: auto; /* Add scroll if needed */
  }
  