.select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-repeat: no-repeat;
  padding: var(--spacing-min) var(--spacing);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  color: var(--text-color);
  transition: all 0.3s ease-in-out;
  background-color: var(--background-color);
  padding-right: var(--spacing);
  cursor: pointer;
}

select:focus {
  outline: none;
  border-color: var(--border-color);
}

select option {
  color: var(--text-color);
  background-color: var(--background-color);
}

select option:checked {
  color: #fff;
  background-color: #0077cc;
}

select option:hover {
  background-color: #f2f2f2;
}

select:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
