@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
html, body, #root {
  height: 100%;
}

body{
  font-family: 'Nunito', sans-serif;
  background-color: #000000
}
#root {
  height: 100%;
}
*{
  padding:0px;
  margin:0px;
  box-sizing: border-box;
}
.demo-logo {
  width:180px;
  text-align: center;
  min-width: 180px;
  background: rgba(0, 0, 0, 0.2);
  background-image: url( './img/logo-header.PNG');
  border-radius: 6px;
  color: rgb(97, 218, 251);
  margin-inline-end: 24px;
}
.header{
  background-repeat:no-repeat;
  background-position: center;
  background-size: cover;
  height:480px;
  width:100%;
  box-shadow: 5px 5px 5px rgba(0,0,0);
}
.overlay{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  background-color: rgba(21, 1, 0, 0.3);
  height:480px;
  @apply text-white;
  
}
.logo{
  @apply p-4   flex justify-around items-center lg:text-3xl;
  font-family: 'Robot', cursive;
}
.navbar-header{
  font-family: 'Robot', cursive;
  height: 70px;
}
.Heading-text{
  @apply lg:text-5xl mb-5 capitalize;
  background-color: blueviolet;
  padding: 5px;
}
.input{
  @apply py-2 px-2 rounded-l-lg border-none outline-none text-black;
  width: 95%;
}
@media screen and (min-width: 600px) {
  .input {
    width: 80%;
  }
  
}

@media screen and (max-width: 599px) {
  .input {
    width: 80%;
  }
  .sidebar {
  }
}

.btn{
  @apply bg-amber-900 border-none outline-none py-2 px-2 rounded-lg;
  margin-bottom:10px;
}
.btn-readmore{
  @apply inline-flex items-center bg-amber-700 text-white p-1 rounded-lg shadow-lg py-2 px-3 ;
}
.bg-navbar{
  background-repeat:no-repeat;
  background-position: center;
  background-size: cover;

}
.btn-quote{
  @apply bg-amber-900 text-white mt-12 p-1 border-none outline-none  rounded-full lg:w-1/4 flex items-center justify-center
}
.btn-book{
  @apply bg-amber-900 text-white mt-12 p-1 border-none outline-none  rounded-full lg:w-1/4 flex items-center justify-center
}
.btn-chapter{
  @apply bg-amber-900 text-white mt-12 p-1 border-none outline-none  rounded-full lg:w-1/4 flex items-center justify-center
}
.btn-section {
  @apply bg-amber-900 text-white mt-12 p-1 border-none outline-none  rounded-full lg:w-1/4 flex items-center justify-center
}
.overlay-2{
  background-color: rgb(0, 0, 0);
  @apply text-white;

}
.book-list{
  @apply grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-8 mt-8 lg:mt-20 rounded mx-5 lg:mx-0
}
.booklist-container{
  @apply bg-white rounded-2xl shadow-2xl p-3 h-auto hover:bg-amber-200
}
.booklist-container-content{
  @apply bg-black rounded-2xl shadow-2xl p-3 h-auto hover:bg-slate-900 mt-8 text-black
}
.bookdetail{
  @apply max-w-5xl mx-auto flex items-center justify-center 
}
.bookdetail-container{
  @apply mt-12 rounded-2xl shadow-2xl p-3 h-auto bg-slate-100 mx-5 lg:mx-0
}
.bookdetail-title{
  @apply pt-3 font-bold tracking-tight lg:text-2xl;
}

.btn-bookdetail{
  @apply bg-amber-800 text-white p-2 rounded-lg mr-3 border-none outline-none mt-3
}
.editor {
  box-shadow: 0px 0px 20px 0px rgba(76, 87, 125, 0.02);
  background: #000000;
  padding: 10px 10px;
  width:100%;
}

.book-textarea {
  box-shadow: 0px 0px 20px 0px rgba(76, 87, 125, 0.02);
  background: #000000;
  padding: 20px 30px;
  width:100%;
  margin: 50px auto;
}

#editorjs-container {
  background-color: #ffffff;
  padding: 20px 30px;
  margin-bottom: 20px;
  color: #121212;
}

.ce-toolbar__content, .ce-block__content {
  max-width: unset;
  width: 92% !important;
}

.editorjs-codeFlask_Wrapper .editorjs-codeFlask_LangDisplay {
  max-width: unset;
  height: unset !important;
}

.editor button {
  border: none;
  padding: 10px 20px;
  background: #2cd3ff;
  color: white;
  font-weight: bold;
  cursor: pointer;
}